*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start style of first section about heading*/
.firstsection{
    overflow: auto;
}
/* end style of first sectin about heading */

/*start style of second section  paragraph about restaurant*/
.aboutrestaurant{
    overflow: auto;
}
.parares{
    background-color: #8CB1F3;
}
/* end style of second section paragraph about restaurant*/

/* start style of thirdsection  payment option*/
.thirdsection{
    overflow: auto;
}
.iconfont{
    font-size: 40px;
}
.parafont{
    font-size: 20px;
}
.pay{
    background-color: white;
}
.pay:hover{
    background-color: whitesmoke;
}
/* end style of thirdsection  payment option*/

/* start style of fourth section order button*/
.fourthsection{
    overflow: auto;
}
.fourthsection{
    background-color: #8CB1F3;
}
.button:hover{
    color: white;
}
/* end style of fourth section order button*/

/* start style of footer location and copyright*/
.foot{
    overflow: auto;
   }
.unorderli{ 
    list-style-type: none;
}
.unorderli a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 3px;
}
.copy{
   height: 25px;
}
/* end style of footer location and copyright*/


